<div class="header-container" data-user-id = '' >
        
    <div class="logo">
        <a class="" href="/">WEBSITE</a>
    </div>
    <div class="nav-container">
        <a class="" id="priceList" href="/document">Tài liệu</a>
    </div>
    <div class="messages-container">
        <a class="messages-btn" id="messages" href="/message"><i class="fa-solid fa-comment-dots"></i></a>
    </div>
    <div class="search-container">
        <form class="search-form" id="search_form" >
            <input type="text" name="searchText" class="searchText">
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div>
    <div class="logout-container">
        <button id="logout" title="Đăng xuất" class="logout-btn"><i class="fa-solid fa-right-from-bracket"></i></button>
    </div>

</div>
